<div class="top-margin">
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div class="panel panel-default settings-panel">
            <div class="panel-heading">
                <h2>General</h2>
            </div>
            <div class="panel-body">
                <h4>Multi-Signature</h4>
                <div class="switch violet-switch margin">
                    <label>
                        <input type="checkbox" ng-disabled="settings.enabledMultisign" ng-model="settings.enabledMultisign" ng-click="setMultisignature()">
                        <span class="lever"></span>
                        Enable Multi-Signature on this account
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
