<div class="modal-body">
    <form ng-submit="sendData(secretPhrase)">
        <div class="field-padding">
            <div class="input-field">
                <input id="passPhrase" type="password" ng-model="secretPhrase" ng-trim="false" autofocus ng-class="{'invalid': errorMessage}">
                <label for="passPhrase"><translate>Your Passphrase</translate></label>
            </div>
            <span class="pass-error" ng-show="errorMessage && !secondSecret">{{errorMessage}}</span>
        </div>
        <input type="submit" ng-show="false">
    </form>
</div>
