<div class="app-modal valign-wrapper">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-6 col-md-offset-4 height100 valign-wrapper">
                <div class="modal-content">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span></div>
                    </div>
                    <div class="modal-header clearfix">
                        <div><h2>Confirmation</h2>
                        </div>
                        <div>
                            Are you sure you want to delete this item?
                        </div>
                    </div>
                    <div class="modal-body">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a href="#" ng-click="close()">NO
                                </a>
                            </li>
                            <li><a href="#" class="green-link" ng-click="close(true)">YES</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>