<div class="app-modal valign-wrapper">
    <div class="container height100">
        <div class="row height100">
            <div class="col-md-6 col-md-offset-4 height100 valign-wrapper">
                <div class="modal-content">
                    <div class="modal-header modal-iconed">
                        <div class="close-modal" ng-click="close()"><span class="sr-only">Close modal</span></div>
                    </div>
                    <div class="modal-header clearfix">
                        <div><h2>Account Verification</h2>
                        </div>
                        <div>{{title}}
                        </div>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="passcheck(masterPass)">
                            <div class="field-padding">

                                <div class="input-field">
                                    <input id="masterpass" type="password" ng-model="masterPass" ng-trim="false"
                                           autofocus
                                           ng-focus="true" ng-class="{'invalid': emptyPass}">
                                    <label for="masterpass">{{label}}</label>
                                </div>
                                <span class="pass-error" ng-if="emptyPass">Empty password</span>

                            </div>

                            <input type="submit" ng-show="false">
                        </form>
                    </div>
                    <div class="modal-body">
                        <ul class="nav modal-buttons pull-right">
                            <li>
                                <a href="#" ng-click="close()">Cancel
                                </a>
                            </li>
                            <li><a href="#" class="green-link" ng-click="passcheck(masterPass)">SEND</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>